[submodule "sim"]
	path = sim
	url = https://github.com/markusheimerl/sim
[submodule "grad"]
	path = grad
	url = https://github.com/markusheimerl/grad.git
[submodule "raytracer"]
	path = raytracer
	url = https://github.com/markusheimerl/raytracer.git
